* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: fantasy;
}

html {
    background-image: url(crumpedbackground.avif);
}

#title {
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    font-weight: 1000;
}

#description, #rules {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}


#buttonContainer {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: auto;
    gap: 7rem;
    padding: 2.5rem;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5rem;
}

button {
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 1rem;
    margin-top: .5rem;
    background: rgb(0, 0, 0);
    color: white;
}

#playcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
}

.icons {
    width: 200px;
    height: 200px;
    /* object-fit: contain; */
}

#bottomhalf {
    display: flex;
    width: 65vw;
    margin: auto;
    padding-top: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
}

#scoringboard {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
}

#scoringtitle {
    text-align: center;
    margin: 0;
}

#scores {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0;
}

#player {
    margin: 0;
    border: 1px solid black;
    padding: .3rem;
}


#opponent {
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;

}

#opponentplays {
    margin: 0;
}

#opponentbuttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

